* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right-stripe {
    background-color: rgb(119, 119, 240);
}

.right-stripe div {
    width: 75%;
    margin: 0 auto;
}

.right-stripe .bigger {
    width: 75%;
    margin: 0 auto;
}

.left-stripe {
    background-color: rgb(227, 96, 96);
}

.left-stripe div {
    width: 75%;
    margin: 0 auto;
}

.left-stripe .bigger {
    width: 75%;
    margin: 0 auto;
}

.star {
    background-color: rgb(92, 238, 92);
}

.star div {
    width: 75%;
    margin: 0 auto;
}

.wave {
    background-color: rgb(240, 240, 62);
}

.wave div {
    width: 75%;
    margin: 0 auto;
}

.right-stripe div,
.left-stripe div,
.star div,
.wave div {
    height: 14em;
    margin: 10px auto;
}

.empty {
    width: 100%;
    height: 14em;
    margin: 0;
}

section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .right-stripe div {
        width: 32%;
    }

    .right-stripe .bigger {
        width: 75%;
        margin: 0 auto;
    }

    .left-stripe {
        width: 100%;
    }

    .left-stripe div{
        width: 49%;
    }

    .left-stripe .bigger {
        width: 52%;
        margin: 0 auto;
    }

    .wave div {
        width: 15%;
    }
}

@media screen and (min-width: 992px) {
    .left-stripe {
        width: 100%;
    }

    .left-stripe div {
        width: 49%;
    }

    .wave div {
        width: 8%;
        margin: 10px 0;
    }
}